/* temples-large.css */

@media screen and (min-width: 749px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  h1 {
    margin-left: 1rem;
  }

  #menuBtn {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
  }

  nav li {
    border-top: none;
  }

  nav a {
    padding: 0.75rem 1.5rem;
    flex: 0 0 auto;
  }

   nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color:transparent;
   }

    .temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
