/* Large screen styles */
@media (min-width: 768px) {
  nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  #menuBtn {
    display: none;
  }

  .temple-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: auto;
  }

  nav li {
    padding: 0;
  }

  #searchBox {
    max-width: 500px;
  }
  }
